Gmail/Gmail Classifier.json
{
  "name": "Gmail Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "2b4c9fb5-95c2-4da2-b501-65894b68d2a9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "=Extract the sender's name from this email. If no name is found, return an empty string."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert extraction algorithm and an advanced extraction tool.\nOnly extract relevant information and details from the text. If you do not know the value of an attribute asked to extract, you may omit the attribute's value or give an empty string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "a53290c6-05c4-4e34-9fac-6c039c9abe9a",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        208
      ],
      "id": "97519d08-6762-40aa-bee1-24a9e2dc8b60",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "RAIkWb27Ra577Htd",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f835472-6ef7-4b77-83b6-d56f926b457f",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "3769d5b2-8989-44c5-8482-94b51c44d2cd",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6b7b2355-84ad-4c13-bc65-e427153164c9",
              "name": "Intro",
              "value": "={{ $json.output.senderName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        -96
      ],
      "id": "853d1acc-0b0d-42d2-9bab-e32fe633c053",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2c58049-0f27-4196-8456-c4ee464b23c5",
              "name": "Input",
              "value": "=Hi",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        768,
        96
      ],
      "id": "ecb0d039-6e20-4ed2-8330-702ab9a4595c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "Intro",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        960,
        0
      ],
      "id": "3fe1baf5-8bc7-4418-9f3d-19e8bbc00aa8",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc968286-8f64-41d3-96d9-2419669b20cc",
              "name": "message_id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "47e9e802-1068-4370-a74e-1ff5322ea98c",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "adce7c96-cdf6-4682-bdf3-cf3efbb6a84f",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        0
      ],
      "id": "8052c22d-19f6-40a9-a2b2-7e56d7f1db02",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Interviews ",
              "description": "Emails about upcoming job or internship interviews, including scheduling details, confirmations, and follow-ups."
            },
            {
              "category": "Service Requests",
              "description": "Messages related to requests made, like IT help, campus services, subscriptions, or account support."
            },
            {
              "category": "Newsletters",
              "description": "Regular updates from schools, clubs, companies, or websites subscribed to — often informational but not urgent."
            },
            {
              "category": "Payments",
              "description": "Emails about tuition fees, online purchases, subscriptions, or payment confirmations/receipts."
            },
            {
              "category": "Customer Support",
              "description": "Replies from companies or platforms you reached out to for help with accounts, apps, or services."
            },
            {
              "category": "Consultation Request",
              "description": "Emails requesting or confirming meetings with professors, advisors, mentors, or professionals for guidance."
            },
            {
              "category": "High Priority ",
              "description": "Critical emails you should check first — like urgent deadlines, account warnings, or important academic alerts."
            },
            {
              "category": "Assessments",
              "description": "Emails about online tests, coding challenges, case studies, or assignments sent as part of job applications, courses, or certifications."
            },
            {
              "category": "Other",
              "description": "Miscellaneous emails that don’t neatly fit into any category — like promotions, social updates, or casual messages."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        1424,
        -112
      ],
      "id": "482da080-0491-4fe2-90ae-0dbadbeee809",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1376,
        288
      ],
      "id": "fc308c26-765b-42e6-86ed-f64f46d507a9",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "RAIkWb27Ra577Htd",
          "name": "OpenAi account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_2786500210544910859"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1840,
        -368
      ],
      "id": "9f1c1934-0201-4d31-9624-3b47c77d21ea",
      "name": "Interviews",
      "webhookId": "73383036-1429-45e4-a082-bfd6b8f76c01",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_3253918900771050678"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1984,
        -272
      ],
      "id": "3d697109-f313-4053-aed9-7a8ceea19794",
      "name": "Service Requests",
      "webhookId": "979a1b8a-bf71-4aaa-8106-f4e7c45902d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_4481838879652256450"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2144,
        -176
      ],
      "id": "9c4faeb0-2ab2-4fa6-9cd0-9ac7f89d0f28",
      "name": "Newsletters",
      "webhookId": "7f50a079-aa76-4fd3-8224-4447cbc200bf",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_2485018544177583850"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2272,
        -64
      ],
      "id": "a2f45add-6943-4f9d-9319-64f78f23bfaa",
      "name": "Payments",
      "webhookId": "e7ba1946-55a4-471d-a086-8f63f70e0bfa",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_6906957881952142418"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2160,
        48
      ],
      "id": "e596576e-df26-4efa-992c-192382a1ac77",
      "name": "Customer Support",
      "webhookId": "2e4cff16-5a54-4b84-95fc-0d6dd5093143",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_6521307453074465123"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        2032,
        176
      ],
      "id": "4d27b3dd-876d-4919-9927-62cf9c98f781",
      "name": "Consultation Requests",
      "webhookId": "e8a23cba-29a4-45cf-8e52-3c713a57bd6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_388009611936021030"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1872,
        400
      ],
      "id": "34dbc524-bdfe-43b5-9ff6-0c3fac4162fe",
      "name": "Assessments",
      "webhookId": "cc018b6b-34e4-4752-b890-94af78101636",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_2232740164850772556"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        512
      ],
      "id": "ba91690a-d841-4775-88f9-825230d388ea",
      "name": "Other",
      "webhookId": "c56db119-475b-45e8-af9e-ba0e748cef10",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_8492668957986144246"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1984,
        320
      ],
      "id": "f5761ade-7378-4975-82a8-36a2414d092c",
      "name": "High Priority",
      "webhookId": "cd054da5-12f8-4e22-9576-d73f38153490",
      "credentials": {
        "gmailOAuth2": {
          "id": "SBVGNLJVgrOc4KlX",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Interviews",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Service Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Newsletters",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Customer Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultation Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assessments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b175ee84-6fea-4bf1-b5ea-81588f95fa29",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3100dd113ac345470a0426daaa37f0f50f98561dd03a52ae4fe043137042d3c8"
  },
  "id": "Iqh4SOY8FKqvP9WA",
  "tags": []
}